.privacy_text {
    /* border: 1px solid #32446a; */
    padding: 20px 20px;
    border-top: 4px solid #fff;
    text-align: left;
}
.privacy_text h3 {
    color: white;
    font-size: 26px;
}
.privacy_text h1 {
    font-weight: 600;
    color: white;
    font-size: 35px;
}
.privacy_text p {
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
}
.items{
    
    height: 100%;
    color: black;
    /* padding-left: 5px!important; */
    font-weight: 600; 
    width: 100%;
    
}
.items p{
    margin: 0;
    padding: 70px;
    border: 1px solid black;
    border-radius: 10%;
    background-color: #c0d6da;
    opacity: 0.9;
    font-size: 20px;
}
.items p:hover{
    background-color: #fff;
}
